.gameResult{
	font-family: 'CookieRun-Regular';
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gameResult__content{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.gameResult__genreName{
	display: flex;
	text-align: center;
	word-break: break-all;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-size: 28px;
}

.gameResult__elemName{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	font-size: 40px;
	text-align: center;
	word-break: break-all;
}

.gameResult__stat{
	height: 130px;
	font-size: 30px;
	text-align: center;
	word-break: keep-all;
}

.gameResult__statPage_button{
	font-size: 22px;
	border: 3px solid black;
	background-color: var(--primary-color);
	border-radius: 10px;
	padding: 10px
}
