.stat{
	font-family: 'CookieRun-Regular';
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stat__button_nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.stat__genreName{
	text-align: center;
	word-break: keep-all;
	font-size:30px;
	margin: 10px 0px;
}

.stat__elemRankingStat_container{
	width: 100%;
	display: flex;
	flex-direction : column;
	align-items: center;
}
